html, body {
  background-color: #060606;
  color: #eee;
}

#root, html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  user-select: none !important;
}

/*# sourceMappingURL=App.css.map */
